* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-section {
  height: 100%;
  width: 100%;
  background-image: url("./bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero-header {
  padding: 20px;
}
.hero-nav {
  margin: 20px auto;
  max-width: 800px;
}
.hero-nav-item {
  padding: 10px 24px;
  background-color: white;
  margin-right: 4px;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-nav-item span {
  margin-left: 8px;
}

.hero-nav-item:hover {
  background-color: #ef1790;
  color: white;
}

.hero-heading {
  font-size: 50px;
  margin-top: 200px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 8px;
}

.container {
  padding: 40px;
  overflow: auto;
}

.container-heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 34px;
  text-align: center;
}
.ribion {
  border-bottom: 4px solid chartreuse;
}

.deatils-box {
  margin-top: 80px;
}

.deatils-image {
  float: left;
  height: 400px;
  width: 45%;
  margin-right: 40px;
}
.deatils-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.deatils-content {
  float: left;
  width: 45%;
  margin-left: 40px;
}

.deatils-content-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.deatils-content-points {
  list-style-type: none;
}

.deatils-content-points > li {
  margin-bottom: 20px;
  color: gray;
  font-size: 18px;
}

.cards {
  margin: 0px auto;
  margin-top: 80px;
  max-width: 920px;
}

.card {
  display: inline-block;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #cccc, -4px 4px 4px #cccc, -1px -4px 4px #cccc;
  width: 260px;
  padding: 20px;
}

.card-img {
  height: 120px;
  width: 120px;
  border: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.card-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card-content {
  margin-top: 20px;
  text-align: center;
  font-family: sans-serif;
}
.card-heading {
  font-size: 22px;
  margin-bottom: 10px;
}
.card-desc {
  font-size: 14px;
  color: gray;
}


.accordians{
  margin: 0 auto;
  margin-top: 40px;
  max-width: 960px;
  
}
.collapsible-accordion input{
  opacity: 0;
  position: absolute;
}

.collapsible-accordion {
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 4px -2px #ccc;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.collapsible-item-label {
  padding: 16px;
  font-weight: bold;
  cursor: pointer;
  background: lightgray;
  widows: 100%;
  display: block;
  border-radius: 4px;
}
.collapsible-item-content {
  max-height: 0;
  padding: 0px 16px;
  background: white;
  transition: all 0.35s;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.collapsible-accordion input:checked ~ .collapsible-item-content {
  max-height: 400px;
  padding: 16px;
}


.collapsible-item-label::after{
  content: '▶';
  height: 10px;
  width: 10px;
  display: block;
  float: right;
  transition: all 0.35s;
}

.collapsible-accordion input:checked ~ .collapsible-item-label::after{
  rotate: 90deg;
}
.signup-container{
background-color: #F5F5F5;
  padding:40px;
}
.signup-card{
  background-color: white;
  box-shadow: 4px 4px 4px #ccc,4px 4px 4px #ef1790;
  padding: 40px;
  border-radius: 12px;
  overflow: auto;
}
.signup-card-heading{
  font-size: 32px;
  font-family:Arial, Helvetica, sans-serif;
  float: left;
  max-width: 50%;
  font-weight: 700;
}
.signup-form{
  float: right;
}
.signup-form input{
  padding: 20px;
  padding-left: 0;
  width: 400px;
  border: none;
  border-bottom: 1px solid gray;
  color: gray;
}
.signup-form input:focus{
  outline: none;
  border-bottom: 1px solid  #ef1790;
}
.signup-form button{
  padding: 12px 40px;
  background-color:#ef1790 ;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
}
.signup-card-heading span{
  font-size: 14px;
  color: gray;
  font-weight: normal;
  line-height: 10px;
}